@import "../../styles/utilities";

.layer__top {
	display: flex;

	.player__cover {
		z-index: 5;

		.cover {
			$width: 320px;
			$height: 320px;

			width: $width;
			height: $height;
			background-image: url('../../assets/img/highest-in-the-room.jpg');
			position: relative;
			object-fit: cover;
			background-position: center;
			border-radius: $border-rds;
			box-shadow: 0 10px 40px 0px rgba(0, 0, 0, 0.6);
			right: 30px;

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				background-image: inherit;
				position: absolute;
				display: block;
				z-index: -1;
				top: 28px;
				transform: scale(0.9);
				filter: blur(9px);
			}
		}
	}
}

.player__control {
	margin: 0 35px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 5;

	div {
		margin-bottom: 12px;
	}
	.ctrl {
		width: 3.2rem;
		height: 3.2rem;
		cursor: pointer;
		@include flexCenter();

		&:hover {
			i {
				color: $primary;
				transition: color 0.4s ease;
			}
			&:before {
				content: '';
				position: absolute;
				background: $overlay-clr;
				box-shadow: 0px 2px 8px 0px $shadow-clr;
				border-radius: 50%;
				z-index: -1;

				animation: maximizer 0.4s ease forwards;
			}
		}
	}

	svg {
		color: $font-sec-clr;
		font-size: 1.35rem;
	}
}

.icon {
	$width: 5.35rem;
	$height: 5.35rem;

	width: $width;
	height: $height;
	border-radius: 50%;
	border: 10px solid $overlay-clr;
	box-shadow: $shadow-size $shadow-clr, $shadow-size $shadow-clr inset;
	@include flexCenter();
	cursor: pointer;

	svg {
		font-size: 1.85rem;
		color: $overlay-clr;
		filter: drop-shadow($shadow-size #000);
	}
}
