$font-clr: #5e5e5e;
$font-sec-clr: #8a8a8a;
$bg-clr: black;
$overlay-clr: white;
$border-rds: 15px;

$shadow-size: 0 0 25px;
$shadow-clr: rgba(0, 0, 0, 0.375);

// Cover colors
$primary: #0095ff;
$secondary: #87cbfc;

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flexEnd {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

@keyframes maximizer {
	from {
		width: 0;
		height: 0;
	}
	to {
		width: 3.2rem;
		height: 3.2rem;
	}
}