@import "styles/utilities";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

.App {
	height: 100vh;
	overflow: hidden;
  color: #000;
  background: $bg-clr;
	font-family: 'Rubik', sans-serif;
	@include flexCenter();
}
