@import "styles/reset";

@media screen and (max-width: 510px) {
	@keyframes maximizer {
		from {
			width: 0;
			height: 0;
		}
		to {
			width: 2.65rem;
			height: 2.65rem;
		}
	}

	.App {
		position: relative;
	}
	.player__control {
		margin: 28px 0 0 0;
		flex-direction: row;

		.ctrl {
			margin-right: 10px;

			svg {
				font-size: 1.15rem;
			}
		}
		div {
			margin-bottom: 0;
		}
	}
	.overlay {
		position: absolute;
		bottom: 0;
		right: auto;
		width: 100%;
		padding: 20px 0 20px 0;
		border-radius: 15px 15px 0 0;
	}
	.layer__top {
		display: grid;
		margin: 0 35px -55px 25px;
	}
	.layer__bottom {
		.player__info {
			h4 {
				font-size: 1rem;
			}
			p {
				font-size: 0.8rem;
			}
		}
	}
	.icon {
		margin: 0 0 0 auto;
	}

	.layer__top {
		position: relative;

		.player__cover {
			position: absolute;

			.cover {
				width: 12.875rem;
				height: 11.875rem;
				right: auto;
				top: -155px;

				&:after {
					top: 20px;
				}
			}
		}
	}
}
